{% if section.settings.show_switch_toggle %}
    <label id="_desktop_mode" class="switch">
        <input type="checkbox" id="modeToggle">
        <span class="slider"></span>
    </label>
    <style>
        .switch {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin-left: 8px;
            width: 50px;
            height: 29px;
        }
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        .switch .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            border-radius: 34px;
        }
        .switch .slider:before {
            position: absolute;
            content: "";
            height: 21px;
            width: 21px;
            left: 4px;
            bottom: 4px;
            background-color: #fff;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }
        .switch input:checked + .slider:before {
            -webkit-transform: translateX(21px);
            -ms-transform: translateX(21px);
            transform: translateX(21px);
        }
        body.dark-mode {
            background: #000;
        }
        body.dark-mode .gradient {
            background: transparent;
        }
        body.dark-mode .header .list-menu li a {
            color: #fff;
        }
        body.dark-mode svg, body.dark-mode svg path {
            fill: #fff;
        }
        body.dark-mode h1, body.dark-mode h2, body.dark-mode h3, body.dark-mode h4, body.dark-mode h5, body.dark-mode h6, body.dark-mode p, body.dark-mode span, body.dark-mode div {
            color: #fff !important; 
        }
    </style>
{% endif %}