/*========================================= COMMON CSS START  =========================================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5 {
    font-family: "Montserrat", sans-serif !important;
}

/*========================================= COMMON CSS START  =========================================*/


/*========================================= HEADER CSS START  =========================================*/

.header.page-width {
    max-width: 1342px;
    width: 1342px;
}
.header {
    display: flex;
    justify-content: space-between;
}
header-drawer {
    display: block !important;
}
.header__icon .icon{
    fill: #000;
    height: 40px;
    width: 40px;
}
.header__icon.header__icon--account {
    display: none;
}
.header__icon.header__icon--menu .icon {
    height: 20px;
    width: 20px;
}
.header .list-menu li a {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.85px;
}
.menu-drawer {
    background: #212121 !important;
    color: #fff;
}
.menu-drawer .list-menu li a {
    font-size: 27px;
    font-weight: 500;
    letter-spacing: .54px;
    text-transform: uppercase;
    color: #fff;
}
.header__heading-logo-white {
    display: none;
}
body.dark-mode .header__heading-logo-white {
    display: block !important;
}
body.dark-mode .header__heading-logo {
    display: none;
}
body.dark-mode .shopify-section-header-sticky .header-wrapper {
    background-color: #000;
}

/*========================================= HEADER CSS END  =========================================*/

/*========================================= PRODUCT PAGE CSS START  =========================================*/

product-info .page-width {
    max-width: 1610px;
}
.product .product__media-wrapper {
    display: flex;
    align-items: center;
}
.product .product__media-wrapper media-gallery {
    width: calc(100% - 60px);
}
.product .product__title {
    margin-bottom: 15px;
}
.product .product__title h1 {
    font-size: 46px;
    line-height: 60px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #000000;
    text-transform: uppercase;
}
.product .product__title-last {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.4px;
}
.product .price .price-item.price-item--regular {
    font-size: 46px;
    line-height: 58px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #000000;
}
.product .price .price-item.price-item--sale {
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 1px;
    color: #000000;
}
.product__media-list .product-media-container {
    border: none;
}
.product-form__submit {
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    min-height: 55px;
}
.product-block--strap_heading {
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #000;
    text-decoration: underline;
}
.product-block--strap_desc {
    margin-bottom: 30px;
}
.product-block--strap_desc p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.4px;
    font-weight: 400;
    color: #000;
}
.product-block--strap .product-addon--block {
    display: flex;
    align-items: center;
}
.strap_modal {
    background: #fff!important;
    height: 75%;
    width: 65%;
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0!important;
    box-shadow: 0 0 4px 2px #0000001a;
    overflow: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
    overflow-x: hidden;
    overflow-y: auto;
}
.strap_modal .close {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 25px;
    color: #000;
}
.strap_modal-inner {
    padding: 40px;
    text-align: left;
}
.strap_modal .product-addon--block {
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.strap_modal .addon__item-img img {
    width: 100%;
    height: 100%;
}
.strap_modal .product-addon--block .addon__item {
    width: calc(33.33% - 15px);
}
.product-block_custom_swatch {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.product-block_custom_swatch .product-block_custom_swatch-item.active {
    order: 1;
}
.product-block_custom_swatch .product-block_custom_swatch-item img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
}
.product-block_custom_swatch .product-block_custom_swatch-item.active img {
    border: 1px solid #000;
}
@media(min-width: 990px) {
    .product .product__info-wrapper {
        padding: 0 4rem 0 0 !important;
    }
}

/*========================================= PRODUCT PAGE CSS END  =========================================*/