/*========================================= COMMON CSS START  =========================================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/*========================================= COMMON CSS START  =========================================*/


/*========================================= HEADER CSS START  =========================================*/

.header.page-width {
    max-width: 1342px;
    width: 1342px;
}
.header {
    display: flex;
    justify-content: space-between;
}
header-drawer {
    display: block !important;
}
.header__icon .icon{
    fill: #000;
    height: 40px;
    width: 40px;
}
.header__icon.header__icon--account {
    display: none;
}
.header__icon.header__icon--menu .icon {
    height: 20px;
    width: 20px;
}
.header .list-menu li a {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.85px;
}
.menu-drawer {
    background: #212121 !important;
    color: #fff;
}
.menu-drawer .list-menu li a {
    font-size: 27px;
    font-weight: 500;
    letter-spacing: .54px;
    text-transform: uppercase;
    color: #fff;
}

/*========================================= HEADER CSS END  =========================================*/

/*========================================= PRODUCT PAGE CSS START  =========================================*/

product-info .page-width {
    max-width: 1610px;
}
.product .product__title {
    margin-bottom: 15px;
}
.product .product__title h1 {
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 1px;
    color: #000000;
    text-transform: uppercase;
}
.product .price .price-item.price-item--regular {
    font-size: 50px;
    line-height: 58px;
    letter-spacing: 1px;
    color: #000000;
}
@media(min-width: 990px) {
    .product {
        flex-direction: row-reverse;
    }
    .product .product__info-wrapper {
        padding: 0 4rem 0 0 !important;
    }
}

/*========================================= PRODUCT PAGE CSS END  =========================================*/